*.mod
*.dylib
*.dll
*.so
*.o
*.i
*.out
*.h5
.vscode
*.DS_Store
*.pdf
*.png
*.jld2
.gitattributes
Manifest.toml
build.log
docs/build/
anaconda_projects/
modovmc
pestotv
src/DCON/rdcon_fortran/bin/
src/DCON/rdcon_fortran/lib/
pentrc
src/DCON/rdcon_fortran/pentrc
dcon
rdcon